@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

.tooltip {
    @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
    @apply visible z-50 !important;
}

.preview {
    @apply invisible;
}

.has-preview:hover .preview{
    @apply visible;
}

.contacts-svg-container:hover .contacts-svg {
    fill: #38bdf8;
}

.contacts-svg {
    fill: white;
}